
@{
    ViewData["Title"] = "Sobre";
    Layout = "_Layout";
}

<section class="main-content">

    <div class="space"></div>

    <div class="card">
        <ul class="sobre-profiles">

            <li>

                <a href="#" class="user-avatar">
                    <img src="/img/carlos.png">
                </a>

                <p>
                    <a href="">Carlos Alexandre</a>
                </p>

                <p>
                    <a href="">081190017</a>
                </p>
            </li>

            <li>

                <a href="#" class="user-avatar">
                    <img src="/img/danillo.png">
                </a>

                <p>
                    <a href="">Danillo Alves</a>
                </p>

                <p>
                    <a href="">081190036</a>
                </p>
            </li>

            <li>

                <a href="#" class="user-avatar">
                    <img src="/img/gabriel.png">
                </a>

                <p>
                    <a href="">Gabriel Alves</a>
                </p>

                <p>
                    <a href="">081190038</a>
                </p>
            </li>

            <li>

                <a href="#" class="user-avatar">
                    <img src="/img/giovanni.png">
                </a>

                <p>
                    <a href="">Giovanni Medici</a>
                </p>

                <p>
                    <a href="">081190005</a>
                </p>
            </li>

            <li>

                <a href="#" class="user-avatar">
                    <img src="/img/kaio.png">
                </a>

                <p>
                    <a href="">Kaio Greco</a>
                </p>

                <p>
                    <a href="">081190033</a>
                </p>
            </li>
        </ul>
    </div>
</section>