@model List<LocacaoViewModel>
@{
    ViewData["Title"] = "loCAR";
    Layout = "_Layout";
}

<!-- CONTAINER BODY-CONTENT -->


<section class="main-content">

    <a href="/Locacao/Create" class="insert">Cadastrar nova locação</a>

    <div class="card">
        <ul class="user-profiles-list-basic">
            <h1>SISTEMA DE LOCAÇÃO DE VEÍCULOS</h1>
        </ul>
    </div>
</section>